<body>
    <h1>Add Student</h1>
    <form action="/addEmployee" method="POST">
        <label>ID:</label>
        <input type="text" name="id"><br>

        <label>Name</label>
        <input type="text" name="name">
        
        </input>
        <br>

        <label>Title</label>
        <input type="text" name="title"><br>

        <label>Salary</label>
        <input type="number" name="salary"><br>
        <input type="submit" value="OK">
    </form>
</body>