<%- include('header'); -%>
    <h1>Welcome</h1>


    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="./employees">
                <span data-feather="users"></span>
                Employees
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./depts">
                <span data-feather="grid"></span>
                Departments
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./employeesmdb">
                <span data-feather="users"></span>
                Employees (MongoDB)
            </a>
        </li>
    </ul>
    <%- include('footer.html'); -%>